@font-face {
  font-family: Muller;
  font-weight: 300;
  src: url("../fonts/MullerLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: Muller;
  font-style: italic;
  src: url("../fonts/MullerRegularItalic.woff2") format("woff2");
}

@font-face {
    font-family: Muller;
    font-weight: 400;
    src: url("../fonts/MullerRegular.woff2") format("woff2");
}

@font-face {
    font-family: Muller;
    font-weight: 500;
    src: url("../fonts/MullerMedium.woff2") format("woff2");
}

@font-face {
    font-family: Muller;
    font-weight: 700;
    src: url("../fonts/MullerBold.woff2") format("woff2");
}
