:root {
    --color-mirage: #121723;
    --color-charade: #292E39;
    --color-gray-chateau: #A1A6B4;
    --color-mischka: #D2D5DD;
    --color-athens-gray: #E6E8EC;
    --color-tussock: #BB973E;
    --color-buff: #F0D288;
    --color-klein-blue: #0039A6;
    --color-thunderbird: #D52B1E;
    --color-daisy-bush: #4F28A5;
    --color-electric-violet: #6D31EE;
    --color-melrose: #AA9DFA;
    --color-porcelain: #F5F6F7;
    --color-white: #FFFFFF;

    --gap: 30px;
}
